* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* IDs */

/* Classes */
.header {
  display: flex;
  justify-content: space-between;
  background-color: gold;
  padding: 15px 5px;
}

.logo {
  margin-left: 10px;
}
/* Generics */

nav ul {
  display: flex;
  gap: 2em;
  margin-right: 10px;
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: blue;
  transition: background-color 0.5s ease;
}

a:hover {
  width: 100px;
  padding: 7px 20px;
  color: white;
  background-color: rgb(18, 58, 216);
  border-radius: 15px;
}
